<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="opened" mode="side" >
    <span class="example-spacer"></span>
<mat-list>
  <mat-list-item style="cursor: pointer" [routerLinkActive]="['active']" >
    <mat-icon color="primary" mat-list-icon>directions_car</mat-icon>
    <a routerLink="/cars">cars</a>
  </mat-list-item>


  <mat-list-item  style="cursor: pointer" [routerLinkActive]="['active']" >
    <mat-icon color="primary" mat-list-icon>sell</mat-icon>
    <a>Fula-Type</a>
  </mat-list-item>

  <mat-list-item  style="cursor: pointer" [routerLinkActive]="['active']" >
    <mat-icon color="primary" mat-list-icon>store</mat-icon>
    <a>Recervation</a>
  </mat-list-item>

  <mat-list-item  style="cursor: pointer" [routerLinkActive]="['active']" >
    <mat-icon color="primary" mat-list-icon>spa</mat-icon>
    <a>Reports</a>
  </mat-list-item>




</mat-list>

  </mat-drawer>



<mat-drawer-content>
  <div class="content">

    <router-outlet></router-outlet>
  </div>
</mat-drawer-content>


</mat-drawer-container> -->
