
<div>

  <div class="mt-5 container">
<div class="card">
  <div class="card-header">
    <h4>In Out List</h4>
  </div>
  <div>
    <div class="caard-bod">
      <table class="table tabl-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
             <th>Item Name</th>
                <th>Item Location</th>
                   <th>Date</th>
                      <th>Serial Number</th>
                                    <th>Asset Number</th>
                         <th>Pod Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.inout">
<td>{{item.id}}</td>
<td>{{item.itemName}}</td>
<td>{{item.itemLocation}}</td>
<td>{{item.date}}</td>
<td>{{item.serialNumber}}</td>
<td>{{item.assetNumber}}</td>
<td>{{item.podNumber}}</td>

          </tr>
        
        </tbody>
      </table>
      
  
    </div>
  </div>
</div>


  </div>
</div> 

